public/
.DS_Store
**/credentials.yml

basics/ci/custom-vars.yml

operator/terraform/.terraform
operator/terraform/students.json
operator/terraform/terraform.tfstate*
operator/*_creds.yml
operator/*_state.json
operator/ci/secrets
