[submodule "basics/site/static/resources"]
	path = basics/site/static/resources
	url = https://github.com/EngineerBetter/training-zero-to-hero.git
[submodule "operator/bosh-deployment"]
	path = operator/bosh-deployment
	url = https://github.com/cloudfoundry/bosh-deployment.git
