/**
 * White theme for reveal.js. This is the opposite of the 'black' theme.
 *
 * By Hakim El Hattab, http://hakim.se
 */

section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff;
}

.reveal {
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  font-size: 38px;
  font-weight: normal;
  color: #222;
}

::selection {
  color: #fff;
  background: #98bdef;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #222;
  font-family: "Roboto", "Source Sans Pro", sans-serif;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word;
}

.reveal h1 {
  font-size: 2.5em; }

.reveal h2 {
  font-size: 1.6em; }

.reveal h3 {
  font-size: 1.3em; }

.reveal h4 {
  font-size: 1em; }

.reveal h1 {
  text-shadow: none; }



/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc;
}

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #2a76dd;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #6ca0e8;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #1a53a1; }

/*********************************************
 * IMAGES
 *********************************************/

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  transition: all 0.15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #2a76dd;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls .navigate-left,
.reveal .controls .navigate-left.enabled {
  border-right-color: #2a76dd; }

.reveal .controls .navigate-right,
.reveal .controls .navigate-right.enabled {
  border-left-color: #2a76dd; }

.reveal .controls .navigate-left.enabled:hover {
  border-right-color: #6ca0e8; }

.reveal .controls .navigate-right.enabled:hover {
  border-left-color: #6ca0e8; }


/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #2a76dd;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }


  .content-slide h1 {
    font-size: 0.6em;
    line-height: 1;
    margin-bottom: 0px;
    letter-spacing: 3px;
  }

  .content-slide h2 {
    font-size: 0.3em;
    line-height: 1;
    margin-bottom: 0px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  .content-slide .title {
    margin-bottom: 30px;
  }

  .content-slide .divider-right {
    border-right-width: 1px;
    border-right-color: #75787B;
    border-right-style: solid;
  }

  .content-slide .column-title {
    font-size: .8em;
    padding-bottom: 20px;
  }

  .content-slide .column-title img {
    height: 50px;
    border: 0px;
    box-shadow: none;
  }

  .content-slide .column-content {
    font-size: .8em;
  }

  .reveal .copyright {
    position: absolute;
    bottom: 8px;
    left: 8px;
    font-size: 0.3em;
    color: #75787B;
    z-index: 1000;
    font-family: "Source Sans Pro", "serif";
  }

  .reveal .logo img{
    position: absolute;
    top: 10px;
    right: 20px;
    max-height: 30px;
    z-index: 1000;
  }

  .title-slide h1 {
    font-size: 1.5em;
    margin-top: 200px;
    padding: 20px;
  }

  .title-slide .presenter-name {
    font-size: 0.8em;
    padding-left: 20px;
  }

  .title-slide .presenter-title {
    font-size: 0.8em;
    font-weight: bold;
    padding-left: 20px;
  }

  .title-slide .presenter-contact {
    font-size: 0.6em;
    padding-left: 20px;
  }


  .last-slide img {
    margin-top: 50px;
  }

  .last-slide h1 {
    font-size: 0.8em;
  }

  .quote h1 {
    font-size: 1.5em;
    margin-top: 50px;
  }

  .quote h2 {
    font-size: .8em;
    font-weight: bold;
    margin-top: 30px;
  }

  .quote .quote-note {
    background:rgba(0,0,0,0.5);
    padding: 10px;
    text-transform: none;
  }

  .quote h3 {
    font-size: .8em;
    margin-top: 10px;
  }

  .quote h4 {
    font-size: .6em;
    font-style: italic;
    margin-top: 50px;
  }

  .quote em {
    font-style: italic;
    color: #01786E;
    font-weight: bolder;
  }

  .quote strong {
    text-decoration: none;
    color: #01786E;
    font-size: 1.3em;

  }

  .content strong {
    color: #01786E;
  }

  .settings-icon {
    position: absolute;
    bottom: 10px;
    right: 30px;
    max-height: 50px;
    z-index: 1000;
    font-size: 18px;
  }

  .setttings {

  }

  .settings i {
    padding-right: 10px;
  }

  .section-divider {
    margin-top: 150px !important;
  }

  .section-divider-content {
    background:rgba(1,120,110,0.8);
    padding: 20px !important;
    font-size: 2em !important;
    font-weight: bold;
  }

.slide-images {
  margin-top: 80px !important;
}

.slide-images .row {
  margin-bottom: 0px;
  margin-top: 0px;
  vertical-align: bottom;
}

.slide-images img {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 10px;
  vertical-align: bottom;
}

.slide-images .caption {
  font-size: 0.6em;
  vertical-align: bottom;
}

.slide-images .slide-image {
  vertical-align: bottom;
  height: 100%;
  background-color: #fff;
  border: 1px #243640 solid;
}

.speaker-notes h1, h2, h3, h4, h5, h6 {
  color: #CCCCCC;
}

.reveal ul li {
  margin-bottom: 18px;
}

.top-bottom .top {
  margin-top: 60px;
  font-size: 4em;
  letter-spacing: -5px;
}

.top-bottom .bottom {
  font-size: 4em;
  letter-spacing: -5px;
  font-weight: 600;
}

.tag-line {
  margin-bottom: 50px !important;
}

.tag-line em {
  color: #01786E;
  font-size: 1.2em;
}

.two-column .col-left img {
  padding-right: 50px !important;
}

.two-column .col-right img {
  padding-left: 50px !important;
}

.two-column h1 {
  font-size: 1.2em;
  margin-bottom: 45px;
}

.two-column .col-left {
  padding-bottom: 175px;
}
