<div class="col-sm-8 portfolio-item">
  <div class="portfolio-icon">
    <i class="fa fa-search  type-brand-5"></i>
  </div>
  <div class="title txt-c type-neutral-1">Codebase</div>
</div>
<div class="col-sm-8 portfolio-item">
  <div class="portfolio-icon">
    <i class="fa fa-search  type-brand-5"></i>
  </div>
  <div class="title txt-c type-neutral-1">Dependencies</div>
</div>
<div class="col-sm-8 portfolio-item">
  <div class="portfolio-icon">
    <i class="fa fa-search  type-brand-5"></i>
  </div>
  <div class="title txt-c type-neutral-1">Config</div>
</div>
<div class="col-sm-8 portfolio-item">
  <div class="portfolio-icon">
    <i class="fa fa-search  type-brand-5"></i>
  </div>
  <div class="title txt-c type-neutral-1">Backing Services</div>
</div>
<div class="col-sm-8 portfolio-item">
  <div class="portfolio-icon">
    <i class="fa fa-search  type-brand-5"></i>
  </div>
  <div class="title txt-c type-neutral-1">Build, release, run</div>
</div>
<div class="col-sm-8 portfolio-item">
  <div class="portfolio-icon">
    <i class="fa fa-search  type-brand-5"></i>
  </div>
  <div class="title txt-c type-neutral-1">Processes</div>
</div>
